# Port local Express
PORT=3000

# Source one-time import RONA
RONA_CATEGORY_URL=https://www.rona.ca/webapp/wcs/stores/servlet/CategorySearchDisplay?urlLangId=-2&navDescriptors=&catalogId=10051&pageSize=infinite&page=1&storeId=10151&langId=-2&categoryId=3074457345617090669&content=Products&productCategory=507447
